* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  text-align: center;
}

img {
  width: 130px;
}

.navbar {
  display: flex;
  text-align: center;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 10px 10px;
}
.navbar ul li {
  padding: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
}

.derecha a {
  text-decoration: none;
}

.header-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

h1 {
  font-size: 15px;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 22px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  margin: 0 5px;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.build {
  background-color: #18bed4;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 50px;
}

.build a {
  color: white;
}

button > a {
  text-decoration: none;
}

.video {
  padding: 20px 0;
  height: 100%;
}

.servicio-container {
  padding: 120px 0px;
}

.servicio h2 {
  font-size: 2.5rem;
  text-align: center;
}

.servicio-container {
  display: grid;
  grid-template-areas:
    "primer-s primer-s segundo-s"
    "servicio servicio servicio"
    "tercero-s tercero-s tercero-s";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto auto 1fr auto;
}

.primer-s {
  grid-area: primer-s;
}

.servicio {
  grid-area: servicio;
  text-align: center;
  color: #7c7c86;
}

.segundo-s {
  grid-area: segundo-s;
  text-align: center;
}

.tercero-s {
  grid-area: tercero-s;
  text-align: center;
  padding: 20px 0;
}

.btn-s {
  background-color: white;
  margin: 10px 100px;
  border-radius: 20px;
}
