* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.global {
  margin: 80px 0;
}

.nav-container {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  top: 0;
  padding: 10px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 2rem;
}

.logo a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 10px 10px;
}
.navbar ul li {
  padding: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}

.derecha a {
  text-decoration: none;
  color: black;
}

.header-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

h1 {
  font-size: 15px;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 22px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  margin: 0 5px;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.build {
  background-color: #18bed4;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 50px;
}

.build a {
  color: white;
}

button > a {
  text-decoration: none;
}

.video {
  padding: 20px 0;
  height: 100%;
}

.servicio-container {
  padding: 120px 0px;
}

.servicio h2 {
  font-size: 2.5rem;
  text-align: center;
}

.servicio-container {
  display: grid;
  grid-template-areas:
    "primer-s primer-s segundo-s"
    "servicio servicio servicio"
    "tercero-s tercero-s tercero-s";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto auto 1fr auto;
  margin: 8px 30px;
}

.primer-s {
  grid-area: primer-s;
  display: flex;
}

.servicio {
  grid-area: servicio;
  text-align: center;
  color: #7c7c86;
}

.segundo-s {
  grid-area: segundo-s;
  text-align: center;
}

.tercero-s {
  grid-area: tercero-s;
  text-align: center;
  padding: 20px 0;
}

.btn-s {
  background-color: white;
  border-radius: 20px;
}

.marcas {
  text-align: center;
  padding: 10px 20px;
}

.movimiento {
  width: 100%;
}

.movimiento img {
  height: 70px;
}

.info {
  padding: 96px 20px;
}

.info h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 10px;
}

.info button {
  background-color: black;
  padding: 10px;
}

.info a {
  text-decoration: none;
  color: white;
  border-radius: 40px;
}
